[submodule "assets/pyu8disasx"]
	path = assets/pyu8disasx
	url = https://github.com/gamingwithevets/pyu8disasx.git
[submodule "assets/labeltool"]
	path = assets/labeltool
	url = https://github.com/gamingwithevets/labeltool.git
